<% form_for @search do |f| %>
 <p>
   <%= f.text_field :body_contains %>
   <%= f.submit 'Search' %>
 </p>

<% end %>


<% if can? :create, Question %>
  <%= link_to 'New Question', new_question_path %>
  <br />
<% end %>

<% @questions.each do |question| %>
  <p><%= question.body %></p>
  <p><i>By <%= question.user.email %></i></p>
  <p><%= pluralize question.answers.count, 'answer' %></p>

  <p>
    <%= link_to 'Show', question %> |
    <% if can? :manage, question %>
      <%= link_to 'Edit', edit_question_path(question) %> |
      <%= link_to 'Destroy', question, :confirm => 'Are you sure?', :method => :delete %>
    <% end %>
  </p>
  
  <% end %>
  
  <%= will_paginate @questions %>